In [1]:
import pandas as pd
import numpy as np
import calendar

In [2]:
ads = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/capstone_data_clean.csv', low_memory=False)
sales = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/Sales_table.csv', low_memory=False)
basic = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/Basic_table.csv', low_memory=False)
image = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/Image_table.csv', low_memory=False)
price = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/Price_table.csv', low_memory=False)
trim = pd.read_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/Trim_table.csv', low_memory=False)

### Genmodel_ID isn't unique for models!

In [3]:
sales[sales.duplicated("Genmodel_ID", keep=False)].sort_values("Genmodel_ID")

,Maker,Genmodel,Genmodel_ID,2020,2019,2018,2017,2016,2015,2014,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
129,CHRYSLER,CHRYSLER 300,17_1,0,0,0,0,0,2,1,...,624,592,1106,1812,1510,162,0,0,0,0
130,CHRYSLER,CHRYSLER 300C,17_1,0,0,0,0,0,1,46,...,0,0,0,0,0,0,0,0,0,0
150,CITROEN,CITROEN DS3,21_1,0,0,0,0,18,8557,18543,...,4662,2,0,0,0,0,0,0,0,0
183,DS,DS DS3,21_1,1738,2168,3173,6911,11872,6776,0,...,0,0,0,0,0,0,0,0,0,0
151,CITROEN,CITROEN DS4,21_3,0,0,1,0,11,1140,2369,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,VOLKSWAGEN,VOLKSWAGEN LOOK UP,95_33,0,0,0,4,1219,0,0,...,0,0,0,0,0,0,0,0,0,0
751,VOLKSWAGEN,VOLKSWAGEN UP,95_33,3302,6939,10060,8701,10441,16280,21475,...,0,0,0,0,0,0,0,0,0,0
752,VOLKSWAGEN,VOLKSWAGEN UP BY,95_33,203,820,1133,2198,850,0,0,...,0,0,0,0,0,0,0,0,0,0
755,VOLVO,VOLVO C 30,96_1,0,0,0,0,0,0,0,...,5777,6321,3982,2948,165,0,0,0,0,1
756,VOLVO,VOLVO C30,96_1,0,0,0,0,0,0,0,...,24,0,2,0,0,0,0,0,0,0

In [4]:
ads["Genmodel"].nunique()

896

In [5]:
ads["Genmodel_ID"].nunique()

881

In [6]:
ads['Maker'] = ads['Maker'].str.upper().apply(lambda x: x.replace('-', ' '))
ads['Maker'] = ads['Maker'].replace('MERCEDES BENZ', 'MERCEDES')
ads['Genmodel'] = ads['Genmodel'].str.upper()
ads[ads['Maker'].str.contains('MERCEDES')]

,Maker,Genmodel,Genmodel_ID,Adv_Year,Adv_Month,Color,Body_Type,Gearbox_Type,Fuel_Type,Reg_Year,...,Engine_Power,Annual_Tax,Wheelbase,Height,Width,Length,Average_Mpg,Top_Speed,Seat_Num,Door_Num
104738,MERCEDES,AMG GT,59_10,2017,Oct,Green,Coupe,Automatic,Petrol,2017.0,...,577.0,555.0,2630.0,1287.0,2075.0,4544.0,24.8,198.0,2.0,2.0
104739,MERCEDES,AMG GT,59_10,2018,Apr,Grey,Coupe,Automatic,Petrol,2018.0,...,577.0,140.0,2630.0,1284.0,2007.0,4551.0,24.8,198.0,2.0,2.0
104740,MERCEDES,AMG GT,59_10,2018,Mar,Silver,Coupe,Automatic,Petrol,2016.0,...,456.0,315.0,2630.0,1287.0,2075.0,4546.0,30.4,189.0,2.0,2.0
104741,MERCEDES,AMG GT,59_10,2017,Apr,NaN,Coupe,Automatic,Petrol,2016.0,...,503.0,NaN,2630.0,1287.0,2075.0,4546.0,30.1,193.0,2.0,2.0
104742,MERCEDES,AMG GT,59_10,2018,May,Red,Convertible,Automatic,Petrol,2017.0,...,550.0,140.0,2630.0,1259.0,1939.0,4544.0,11.4,188.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113322,MERCEDES,A CLASS,59_8,2021,Mar,Red,Hatchback,Automatic,Petrol,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
113323,MERCEDES,A CLASS,59_8,2021,Mar,Red,Hatchback,Manual,Petrol,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
113324,MERCEDES,A CLASS,59_8,2021,Mar,Red,Hatchback,Automatic,Petrol,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
113325,MERCEDES,A CLASS,59_8,2021,Apr,Silver,Hatchback,Manual,Petrol,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0
113326,MERCEDES,AMG,59_9,2018,May,Red,Saloon,Automatic,Petrol,2000.0,...,306.0,NaN,2690.0,1460.0,1723.0,4516.0,24.1,NaN,4.0,4.0

In [7]:
ads.to_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/capstone_data_clean.csv', index=False)

In [8]:
for name in ads.columns:
    ads[name] = ads[name].fillna(r'\N')

In [9]:
ads.head()

,Maker,Genmodel,Genmodel_ID,Adv_Year,Adv_Month,Color,Body_Type,Gearbox_Type,Fuel_Type,Reg_Year,...,Engine_Power,Annual_Tax,Wheelbase,Height,Width,Length,Average_Mpg,Top_Speed,Seat_Num,Door_Num
0,BENTLEY,ARNAGE,10_1,2018,Apr,Silver,Saloon,Automatic,Petrol,2000.0,...,\N,\N,3116.0,1515.0,2125.0,5390.0,\N,\N,5.0,4.0
1,BENTLEY,ARNAGE,10_1,2018,Jun,Grey,Saloon,Automatic,Petrol,2002.0,...,450.0,315.0,3116.0,1515.0,2125.0,5390.0,13.7,179.0,5.0,4.0
2,BENTLEY,ARNAGE,10_1,2017,Nov,Blue,Saloon,Automatic,Petrol,2002.0,...,400.0,315.0,3116.0,1515.0,2125.0,5390.0,14.7,155.0,5.0,4.0
3,BENTLEY,ARNAGE,10_1,2018,Apr,Green,Saloon,Automatic,Petrol,2003.0,...,\N,\N,3116.0,1515.0,2125.0,5390.0,\N,\N,5.0,4.0
4,BENTLEY,ARNAGE,10_1,2017,Nov,Grey,Saloon,Automatic,Petrol,2003.0,...,\N,\N,3116.0,1515.0,2125.0,5390.0,\N,\N,5.0,4.0

In [10]:
ads.to_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/capstone_data_NULL.csv', index=False)

In [11]:
dates = pd.DataFrame(pd.date_range(start="1960-01", end="2021-12", freq="M"))
dates['year'] = dates[0].apply(lambda x: x.year)
dates['month'] = dates[0].apply(lambda x: x.month)
dates['month_name'] = dates['month'].apply(lambda x: calendar.month_name[x])
dates['month_short_name'] = dates['month'].apply(lambda x: calendar.month_name[x][:3])
dates

             0  year  month month_name month_short_name
0   1960-01-31  1960      1    January              Jan
1   1960-02-29  1960      2   February              Feb
2   1960-03-31  1960      3      March              Mar
3   1960-04-30  1960      4      April              Apr
4   1960-05-31  1960      5        May              May
..         ...   ...    ...        ...              ...
738 2021-07-31  2021      7       July              Jul
739 2021-08-31  2021      8     August              Aug
740 2021-09-30  2021      9  September              Sep
741 2021-10-31  2021     10    October              Oct
742 2021-11-30  2021     11   November              Nov

[743 rows x 5 columns]

In [12]:
dates = dates[['year', 'month', 'month_name', 'month_short_name']]
dates

     year  month month_name month_short_name
0    1960      1    January              Jan
1    1960      2   February              Feb
2    1960      3      March              Mar
3    1960      4      April              Apr
4    1960      5        May              May
..    ...    ...        ...              ...
738  2021      7       July              Jul
739  2021      8     August              Aug
740  2021      9  September              Sep
741  2021     10    October              Oct
742  2021     11   November              Nov

[743 rows x 4 columns]

In [13]:
dates.to_csv('/Users/mpolcyn/DataGripProjects/DW_Capstone/dates.csv', index=False)